@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Playfair+Display:ital,wght@1,700&family=Ubuntu:ital,wght@0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Playfair+Display:ital,wght@1,700&family=Ubuntu:ital,wght@0,400;1,500;1,700&display=swap');

*{
	text-decoration: none;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
/*navigation bar css*/
nav{
   position: fixed;
   width: 100%;  
   font-family: 'Ubuntu',sans-serif;
   } 
nav.sticky{
	padding: 13px 0;
	background-color: #4070f4 ;
	}
nav .navbar{
display: flex;
align-items: center;
justify-content: space-between;
text-decoration: none;
padding: 20px 0px;
width: 90%;
margin: auto;
transition: all 0.4s ease;
}
nav .navbar .menu{
	display: flex;
}
nav .navbar .logo a{
font-size: 40px;
font-weight:500;
color: #4070f4;
}
nav.sticky .navbar .logo a{
font-size: 40px;
font-weight:500;
color: #fff;}
nav .navbar .menu li{
margin: 0 8px;
list-style: none;
}
.navbar .menu li a{
font-size: 25px;
font-weight: 500;
color: cadetblue;
transition: all ease 0.4s;
}
.navbar .menu li a:hover{
	color: #4070f4;
}
nav.sticky .navbar .menu li a:hover{
	color: cadetblue;
}
nav .navbar .media a{
	font-size: 18px;
	margin: 0 6px;
	color: #4070f4;
     }
nav.sticky .navbar .menu li a,nav.sticky  .menu-btn{
color: #fff ;
}
nav.sticky  .menu-btn{
	 padding: 13px 0;
}
nav.sticky .navbar .media a{
	color: #fff;
}
nav .navbar .menu .cancel-btn,nav .menu-btn{
display: none;
}
nav .navbar .menu .cancel-btn{
	color: #fff;
}
@media only screen and (max-width: 960px) {
nav .navbar .menu{
		position: fixed;
		left: -100%;
		top: 0;
		height: 100vh;
		max-width: 400px;
		width: 100%;
		background: #0e2431;
		flex-direction: column;
		align-items: center;
		padding: 60px;
		transition: all 0.4s ease;
			          }
nav .navbar.active .menu{
		left: 0%;
}
.navbar .menu li a{
	display: block;
	font-size: 23px;
	margin: 10px 0;
	color:#4070f4
	}

	nav .navbar .media a{
		display: none;
	}
	nav .navbar .menu .cancel-btn,nav .menu-btn{
		position: absolute;
		font-size: 20px;
		right: 30px;
		top: 30px;
		color: rgb(55, 152, 197);
		display: block;
	 }
	 
}
/*home section*/
.home{

font-family: 'Ubuntu', sans-serif;
height: 100vh;
width: 100%;
background:url(IMAGES/bgimage.jpg) no-repeat;
background-position:center ;
background-attachment: fixed;
background-size: cover;

}
.home .home-content{
margin: 0 20px;
height: 100vh;
width: 90%;
display: flex;
flex-direction: column;
margin:auto;
justify-content: center;
}
.home .home-content .textOne {
	font-size: 25px;
	color: #000;
	}
	.home-content .textTwo {
	font-size: 65px;
	color: #000;
	font-weight: 600;
	font-family: 'Genos', sans-serif;
	margin-left: -3px; 
	}
	
	
	.home-content .textThree {
	font-size: 40px;
	}
	.home-content .textFour {
	font-size: 23px;
	margin-bottom: 30px  ;
	}
	.home .button button{
		 outline: none;
		font-size: 25px;
		font-weight: 500;
		background-color: #4070f4 ;
		color: white;
		padding: 8px 16px ;
		  border: 2px solid transparent;
		border-radius: 5px;
		transition: ease all 0.3s;
	}
	.home .button button:hover{
		color: #4070f4;
	   background-color: white ;
	   padding: 8px 16px ;
	 border: 2px solid ;
	   border-radius: 5px;
	}
	@media only screen and (max-width: 769px){
	
			.home-content .textTwo {
			font-size: 55px;
			margin-left: -3px; 
			}
			
			
			.home-content .textThree {
			font-size: 35px;
			
			}
			.home-content .textFour {
			font-size: 23px;
			margin: 5px 0;
			
			}
	}
	@media only screen and (max-width: 769px){
	
		.home-content .textTwo {
		font-size: 45px;
		margin-left: -3px; 
		}
		
		.home-content .textThree {
		font-size: 25px;
		}
		}

	/* about css section */
