@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Playfair+Display:ital,wght@1,700&family=Ubuntu:ital,wght@0,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,500&family=Open+Sans:ital,wght@1,600&family=Playfair+Display:ital,wght@1,700&family=Ubuntu:ital,wght@0,400;1,500;1,700&display=swap');

*{
	text-decoration: none;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
/*navigation bar css*/
nav{
   position: fixed;
   width: 100%;  
   font-family: 'Ubuntu',sans-serif;
   } 
nav.sticky{
	padding: 13px 0;
	background-color: #4070f4 ;
	}
nav .navbar{
display: flex;
align-items: center;
justify-content: space-between;
text-decoration: none;
padding: 20px 0px;
width: 90%;
margin: auto;
transition: all 0.4s ease;
}
nav .navbar .menu{
	display: flex;
}
nav .navbar .logo a{
font-size: 40px;
font-weight:500;
color: #4070f4;}
nav.sticky .navbar .logo a{
font-size: 40px;
font-weight:500;
color: #fff;}
nav .navbar .menu li{
margin: 0 8px;
list-style: none;
font-size: 18px;
font-weight: 500;
}
nav .navbar .media a{
	font-size: 18px;
	margin: 0 6px;
	color: #4070f4;
     }
nav.sticky .navbar .menu li a,nav.sticky  .menu-btn{
color: #fff ;
}
nav.sticky  .menu-btn{
	 padding: 13px 0;
}
nav.sticky .navbar .media a{
	color: #fff;
}
nav .navbar .menu .cancel-btn,nav .menu-btn{
display: none;
}
nav .navbar .menu .cancel-btn{
	color: #fff;
}
@media only screen and (max-width: 768px) {
nav .navbar .menu{
		position: fixed;
		left: -100%;
		top: 0;
		height: 100vh;
		max-width: 400px;
		width: 100%;
		background: #0e2431;
		flex-direction: column;
		align-items: center;
		padding: 60px;
		transition: all 0.4s ease;
			          }
nav .navbar.active .menu{
		left: 0%;
}
.navbar .menu li a{
	display: block;
	font-size: 23px;
	margin: 10px 0;
	color:#4070f4
	}
	.navbar .menu li a:hover{
		color:#4070f4;
	}
	nav .navbar .media a{
		display: none;
	}
	nav .navbar .menu .cancel-btn,nav .menu-btn{
		position: absolute;
		font-size: 20px;
		right: 30px;
		top: 30px;
		color: rgb(55, 152, 197);
		display: block;
	 }
	 
}

.home{

font-family: 'Ubuntu', sans-serif;
height: 100vh;
width: 100%;
background:url(IMAGES/bgimage.jpg) no-repeat;
background-position:center ;
background-attachment: fixed;
background-size: cover;

}
.home .home-content{
margin: 0 20px;
height: 100vh;
width: 90%;
display: flex;
flex-direction: column;
margin:auto;
justify-content: center;

}
.about .left p{
	text-indent : 1.5cm;
	
}
.home .home-content .textOne {
font-size: 25px;
color: #000;
}
.home-content .textTwo {
font-size: 75px;
color: #000;
font-weight: 600;
font-family: 'Genos', sans-serif;
	
}
.home-content .textTwo span{
	font-weight: 300;
	font-size: 40px;
}
.home-content .textThree {
font-size: 23px;
color: #000
}
.home-content .textFour {
font-size: 40px;
color: #000
}
.home-content .textFour span{
color: #201d1d;
font-weight: 500;
text-shadow: #080808;
}
.home button{
	font-size: 30px;
	font-family: 'Ubuntu',sans-serif;
	background-color: #03045e;
	padding: 10px 10px ;
  	border: 5px ;
	border-radius: 5px;
	color: white;
   position: center;
   margin-top: 100px;
}
.about .right img {
width: 200px ;
height: 200px;
border-radius: 100px;
margin:  0 100px;
justify-content: center;
}
.title{
font-size: 64px;
color:#4070f4 ;
font-family: 'Genos', sans-serif;}
.about .right{
left: 100px;
top: 50px;
clear: left;}
.about{
display: flex;
 
 align-content: space-between;
}
.about .left p{
	width: 90%;
	text-align: justify;
	margin: 0 0 0 30px;
	padding: 30px;
	border: 1px solid rgba(0, 0, 200, 0.5);
	border-radius: 12px;
}
