@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&family=Ubuntu:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;}
/*navigation bar css*/
nav{
   position: fixed;
   width: 100%;  
   font-family: 'Ubuntu',sans-serif;
   height: 80px;
}

nav .navbar{
display: flex;
align-items: center;
justify-content: space-between;
text-decoration: none;
padding: 20px 0px;
width: 90%;
margin: auto;
transition: all 0.4s ease;
}
nav .navbar .menu{
	display: flex;
}
nav .navbar .logo a{
font-size: 40px;
font-weight:500;
color: #4070f4;
}
nav.sticky .navbar .logo a{
	font-family: 'Ubuntu',monospace;
	font-size: 40px;
font-weight:600;
color: #fff;}
nav .navbar .menu li{
margin: 0 8px;
list-style: none;
}
.navbar .menu li a{
    font-size: 18px;
    font-weight: 500;
    color: #5c392a	;
    transition: all ease 0.4s ;
}
.navbar .menu li a:hover{
	color: #4070f4;
}
nav.sticky .navbar .menu li a:hover{
	color: #5c392a;
}
nav .navbar .media a{
	font-size: 18px;
	margin: 0 6px;
	color: #4070f4;
     }
nav.sticky .navbar .menu li a,nav.sticky  .menu-btn{
color: #fff ;
}
nav.sticky  .menu-btn{
	 padding: 13px 0;
}
nav.sticky .navbar .media a{
	color: #fff;
}
nav .navbar .menu .cancel-btn,nav .menu-btn{
display: none;
}
nav .navbar .menu .cancel-btn{
	color: #fff;
}
@media only screen and (max-width: 1130px) {
nav .navbar .menu{
		position: fixed;
		left: -100%;
		top: 0;
		height: 100vh;
		max-width: 400px;
		width: 100%;
		background: #0e2431;
		flex-direction: column;
		align-items: center;
		padding: 60px;
		transition: all 0.4s ease;
}
nav .navbar.active .menu{
		left: 0%;


		
}
.navbar .menu li a{
	display: block;
	font-size: 23px;
	margin: 10px 0;
	}

	nav .navbar .media a{
		display: none;
	}
	nav .navbar .menu .cancel-btn,nav .menu-btn{
		position: absolute;
		font-size: 20px;
		right: 30px;
		top: 30px;
		color: #4070f4;
		display: block;
	 }
}
/*home section*/
.home{

font-family: 'Ubuntu', sans-serif;


background-image: 
	url(IMAGES/bubbles.png),
	linear-gradient(to left,#8fe4e8, rgba(0, 0, 0, 0));
background-repeat: no-repeat;
	background-size: 	 cover ;
	width: 100%;
	height: 100vh;
background-position:center  ;
background-attachment: fixed;
}
.home .home-content .text{
	max-width: 760px;
	min-height: 300px;
	text-align: center;
}
.home .home-content{
margin: 0 20px;
height: 100vh;
width: 90%;
display: flex;
flex-direction: column;
justify-content:center ;

}
.home .home-content .textOne {
	font-size: 25px;
	color: #0e2431;
text-align: left;


	}
	.home-content .textTwo {

		font-size: 65px;
	font-weight: 600;
	font-family: 'Genos', sans-serif;
	margin-left: -3px;
	color: #0e2431; 
	font-variant:small-caps;
text-align: left;

	}
	.home-content .textThree {
	font-size: 40px;
	color: #0e2431;
text-align: left;

	}
	.home-content .textFour {
	font-size: 23px;
	margin-bottom: 30px  ;
	color: #0e2431;
text-align: left;

	}
	.home .button{
		margin: 14px 0;
	}
	.home .button button{
		outline: none;
		font-size: 25px;
		font-weight: 500;
		background-color: #4070f4 ;
		color: white;
		padding: 8px 16px ;
		  border: 2px solid transparent;
		border-radius: 5px;
		transition: ease all 0.3s;
	}
	.home .button button:hover{
		color: #4070f4;
	   background-color: white ;
	   padding: 8px 16px ;
	 border: 2px solid ;
	   border-radius: 5px;
	}
	/*about css section*/
	.about .content{
		width: 85% ;
		margin: 40px auto;
		font-family: "Poppins",sans-serif;

	}
	section .title{
	display: flex;
	justify-content: center;
	
	}
section .title span{
	    font-size: 30px;
		font-weight: 600;
		padding-bottom: 8px	;
		position: relative; 
		margin: 20px 0;
		color: #0e2431;
		z-index: auto;
	}
section .title span::before,
section .title span::after{
		content:'';
		position: absolute;
		left:0;
		bottom:0;
		width: 100%;
		height: 3px;
		background: #4070f4; 
	  }
section .title span::after{
		left:50%;
		transform: translateX(-50%);
		width: 70%;
		bottom: -7px;
		}
section .about-ditails{
		display: flex;
		align-items: center;
		justify-content:space-between;
	}
section .right{
		width: 55%;
	}
section .left{
		width: 45%;
	}
section .topic{
		font-size: 25px;
		font-weight: 600;
		color: #0e2431;
		margin-bottom: 10px;
      	}
section p{
		text-align: justify;
    	}
        section .about-ditails .right img{
		width: 400px;
		height: 400px;
		border-radius: 20px	;
		object-fit: cover;
		} 
		section .button{
			margin: 14px 0;
		}
		section .button button{
			outline: none;
		   font-size: 25px;
		   font-weight: 500;
		   background-color: #4070f4 ;
		   color: white;
		   padding: 8px 16px ;
			 border: 2px solid transparent;
		   border-radius: 5px;
		   transition: ease all 0.3s;
	   }
	    section .button button:hover{
		   color: #4070f4;
		  background-color: white ;
		  padding: 8px 16px ;
		border: 2px solid ;
		  border-radius: 5px;
	   }
	   .skills{background:#f0f8ff}
	   .skills .content{
		   padding:40px 0;
		}
	   .skills .skills-details
	  { width: 90%;
		display:flex;
		justify-content:space-between;
		align-items:center;
		margin: auto;
	}
		.skills-details .text
		{
			width:50%
		}
		.skills-details p{
			color:#0e2431;
			text-align:justify;
			font-size: 20px;
			}
		.skills .skills-details .experience
		{display:flex;
		align-items:center;
		margin:0 10px;
	}
		.skills-details .experience .num
		{color:#0e2431;
		font-size:80px}
		.skills-details .experience .exp
		{color:#0e2431;
		margin-left:20px;
		font-size:18px;
		font-weight:500;
		margin:0 6px}
		.skills-details .boxes{
		width:45%;
		display:flex;
		text-align: center;
		flex-wrap:wrap;
		justify-content:space-between;
	margin-left: 40px;}
		.skills-details .box{width:calc(100%/2 - 20px);
	    margin:20px 0}
		.skills-details .boxes .topic
		{font-size:20px;
		color:#4070f4}
		.skills-details .boxes .per
		{font-size:60px;
		color:#4070f4}
	section .content{
		width: 85% ;
		margin: 20px auto;
		font-family: "Poppins",sans-serif;
	}
	.services .boxes{
		display:flex;
 		justify-content:space-between;
	    flex-wrap: wrap;
	}
	.services .boxes .box {
		margin: 20px 0;
		width: calc(100%/3 - 20px);
		text-align: center;
		border-radius: 12px;
		padding: 30px 10px;
		box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
		cursor: default;
		transition: all .4s ease;
	}
	.services .boxes .box:hover{background:#4070f4;color:#fff}
	
	.services .boxes .box .icon{
		height:50px;
		width:50px;
		background:#4070f4;
		border-radius:50%;
		text-align:center;
		line-height:50px;
		font-size:18px;
		color:#fff;
		margin:0 auto 10px;
		transition:all .4s ease}
	.boxes .box:hover .icon{background-color:#fff;
		color:#4070f4}
	.services .boxes .box:hover .topic,.services .boxes .box:hover p
	{color:#0e2431;
		transition:all .4s ease}
	.services .boxes .box:hover .topic,.services .boxes .box:hover p
	{color:#fff}
@media only screen and (max-width: 1070px){
		section .about-ditails  .right img{
			width: 350px;
			height: 350px;
 }}
@media only screen and (max-width: 909px){
				 .about .about-ditails{
					flex-direction: column;
					justify-content: center;}
				.about .about-ditails .right{
					width: 100%;
					display: flex;
					justify-content: center;					
					}
					.about-ditails .left{
						width: 90%;
						margin: 40px 0;
					} 
					.services .content{
						width: 90%;
					}
}
@media(max-width: 842px){
	.services .boxes .box{
		width: calc(100%/2 - 20px);
	}
}
	 @media(max-width: 613px){
	.home-content .textTwo {
				font-size: 55px;
				margin-left: -3px; 
				}
				.home-content .textThree {
					font-size: 30px;
								}
			  .home-content .textFour {
					font-size: 25px;
					margin: 5px 0;
								}
	} 
	@media(max-width: 512px){
		.home-content .textTwo {
					font-size: 50px;
					margin-left: -3px; 
					}
					.home-content .textThree {
						font-size: 25px;
									}
				  .home-content .textFour {
						font-size: 25px;
						margin: 5px 0;
									}
		} 
	@media(max-width: 713px){
		  
		.skills .skills-details
		{width: 100%;
		 display:flex;
		 justify-content:space-between;
		 align-items:center;
	 }	
	 .skills content{
		 padding: 10%;
	 }			
		} 
	@media(max-width: 627px){
		
		.skills .skills-details
		{
			width: 100%;
		flex-direction: column;
	 }		
	 .skills-details .text,.skills .skills-details .boxes{
		 margin: 0;
		 width: 80%;
	 }
	 
	 .services .boxes .box{
		width: 100%;
	}
	section .about-ditails .right img {
		width: 80%;
		height: 80%;
		} }
		@media(max-width: 347px){
			.about-ditails img{
				width: 80%;
				height: auto;
			}
			.home-content .textTwo {

				font-size: 60px;}
		}
		
		